<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <table border="0" cellpadding="0" cellspacing="0" class="inputform">
    <tr>
      <td class="label"><%= f.label t :forename %></td>
      <td class="input"><%= f.text_field :forename, :class => 'themed' %></td>
    </tr>
    <tr>
      <td class="label"><%= f.label t :surname %></td>
      <td class="input"><%= f.text_field :surname, :class => 'themed' %></td>
    </tr>
    <tr>
      <td class="label"><%= f.label t :email %></td>
      <td class="input"><%= f.email_field :email, :class => 'themed' %></td>
    </tr>
    <tr>
      <td class="label"><%= f.label t :password %></td>
      <td class="input"><%= f.password_field :password, :class => 'themed' %></td>
    </tr>
    <tr>
      <td class="label"><%= f.label t :confirm_password %></td>
      <td class="input"><%= f.password_field :password_confirmation, :class => 'themed' %></td>
    </tr>
    <tr>
      <td class="label">&nbsp;</td>
      <td class="input"><%= f.submit t(:btn_create_account), :class => 'g-button g-button-submit' %></td>
    </tr>
  </table>
<% end %>

